{% extends './base.html' %}
{% load crispy_forms_tags %}
{% block content %}


  <form method="post" id="trialclassForm" data-slots-url="{% url 'ajax_load_slots' %}" data-timeslots-url="{% url 'ajax_load_time_slots' %}" novalidate>

    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success" value="Reset form">Submit</button>
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
   
    $("#id_course").change(function () {
      var url = $("#trialclassForm").attr("data-slots-url");
      var courseId = $(this).val();


      $.ajax({
        url: url,
        data: {
          'course': courseId
        },
        success: function (data) {
          $("#id_slot").html(data);
        }
      });

    console.log(id_slot)
    $("#id_slot").change(function () {
      var url2 = $("#trialclassForm").attr("data-timeslots-url");
      var slotId = $(this).val();


      $.ajax({
        url: url2,
        data: {
          'slot': slotId
        },
        success: function (data) {
          $("#id_time_slot").html(data);
        }
      })
    });

    });
  </script>

{% endblock %}